body {
  font-family: "Open Sans", sans-serif;
}
/* navbar */
.navbar-brand {
  text-align: center;
  font-family: "Amaranth", sans-serif;
  font-weight: 400;
  color: #222831;
}
.navbar {
  background-color: #c1a57b;
}
.navBarText {
  text-transform: capitalize;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}
/* jumbotron */
.carousel-item {
  margin-top: -170px;
}
.text-carousel,
.textParallax,
.namaProduk {
  font-family: "Amaranth", sans-serif;
}
.textJumbo {
  margin-top: 200px;
  font-family: "Amaranth", sans-serif;
  font-weight: 300;
}
/* footer */
.logo {
  height: 5vmin;
}
.page-footer {
  background-color: #c1a57b;
}
/* category */
.textCategory {
  font-family: "Amaranth", sans-serif;
  color: #222831;
}
.pictProduct {
  width: 45vmin;
}
/* new arrivals */
.newArrcard {
  width: 250px;
}
/* start selling */
.startselling {
  font-size: 12px;
  background-color: hsla(0, 0%, 0%, 0.6);
  border-radius: 30px;
  width: 60vmin;
  height: 320vmin;
}
.textSell {
  font-size: large;
}
/* product detail */
.detProd {
  margin: 80px 0;
  width: 240px;
}
.text-Prod {
  color: #222831 !important;
}
/* parallax products */
.jumbotron {
  text-align: center;
  background-image: url(../images/bg2.jpg);
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: 0;
  background-size: cover;
  height: 400px;
  background-attachment: fixed;
}
/* store */
.store {
  text-align: center;
  background-image: url(../images/store.jpg);
  background-repeat: no-repeat;
  background-position-x: 150px;
  background-position-y: -100px;
  background-size: cover;
  height: 400px;
  background-attachment: fixed;
}
/* for all components in home */
.parallax,
.ourStores {
  margin: 100px 50px;
}
/* details */
#baju-utama {
  width: 250px;
}
/* register customer */
.personalData {
  margin: 80px 60px;
}
@media (min-width: 992px) {
  /* navbar */
  .nav-link {
    text-transform: uppercase;
    margin-right: 30px;
  }
  .nav-link,
  .navbar-brand {
    /* text-shadow: 0 0 4px grey; */
    color: #222831 !important;
  }
  /* jumbotron */
  .signin,
  .signup {
    margin-top: -60px;
    height: 700px;
  }
  .textJumbo {
    margin-top: 200px;
  }
  /* content sign in */
  .content {
    background-color: hsla(0, 0%, 0%, 0.6);
    border-radius: 30px;
    width: 60vmin;
    height: 60vmin;
  }
  /* sign up */
  .contentSignup {
    background-color: hsla(0, 0%, 0%, 0.6);
    border-radius: 30px;
    width: 60vmin;
    height: 70vmin;
  }
  /* start selling */
  .startselling {
    background-color: hsla(0, 0%, 0%, 0.6);
    border-radius: 30px;
    width: 60vmin;
    height: 150vmin;
  }
  .textSell {
    font-size: 16px;
  }
  /* parallax products */
  .jumbotron {
    background-image: url(../images/bg2.jpg);
    background-repeat: no-repeat;
    background-position-x: -200px;
    background-position-y: -500px;
    background-size: cover;
    height: 400px;
    background-attachment: fixed;
  }
}
